@page "/Course"
@inherits SwarmUI
@attribute [Authorize]

<TelerikGrid @ref="@Grid"
             TItem="CourseDTO"
             SortMode="@SortMode.Multiple"
             Height="700px"
             Pageable="true"
             Sortable="true"
             Groupable="false"
             @bind-PageSize="@PageSize"
             PageChanged="@PageChangedHandler"
             Page="@PageIndex"
             FilterMode="@GridFilterMode.FilterMenu"
             Resizable="true"
             Reorderable="true"
             OnDelete="@DeleteCourse"
             OnRead=@ReadItems
             ShowColumnMenu="true"
             ConfirmDelete="true">

    <GridSettings>
        <GridColumnMenuSettings Lockable="false">
        </GridColumnMenuSettings>
        <GridPagerSettings InputType="PagerInputType.Input" PageSizes="@PageSizes" />
    </GridSettings>

    <GridToolBar>
        <GridCommandButton Command="NewUser" OnClick="@NewCourse" Icon="add">Add User</GridCommandButton>
        <GridCommandButton Command="ExcelExport" Icon="file-excel">Export to Excel</GridCommandButton>
        <label class="k-checkbox-label"><TelerikCheckBox @bind-Value="@ExportAllPages" /> Export All Pages</label>
        <span class="k-toolbar-spacer"></span> @* add this spacer to keep the searchbox on the right *@
        <GridSearchBox DebounceDelay="200"></GridSearchBox>
    </GridToolBar>

    <GridExport>
        <GridExcelExport FileName="telerik-grid-export" AllPages="@ExportAllPages" />
    </GridExport>

    <GridColumns>
        <GridColumn Field="@(nameof(CourseDTO.CourseNo))" VisibleInColumnChooser="false" ShowColumnMenu="false" Locked="true" Editable="false" Visible="false" />
        <GridColumn Field="@(nameof(CourseDTO.Description))" VisibleInColumnChooser="true" ShowColumnMenu="true" Editable="true" Visible="true" />
    </GridColumns>

</TelerikGrid>
